@charset "utf-8";
/*************************************************************
*************************开局公用CSS样式************************
**************************************************************/
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.clear{
	margin:0 auto; 
	height:0px; 
	font-size:1px; 
	clear:both; 
	line-height:0; 
	overflow:hidden;
}
img{
	border:none;
	padding:0px;
	margin:0px;
}
input,button,select,textarea{
	outline:none;
}
textarea{
	resize:none;
}
.clearfix:after {
	content: "."; 
	display: block;
	height: 0;
	clear: both; 
	visibility: hidden;
}
.clearfix {
	zoom:1;
}
form{
	 margin:0px;
	 padding:0px;
}
body{
	margin:0px;
	padding:0px;
	font-family:"微软雅黑","宋体";
}

a{
	text-decoration:none;
}

 
 
/********图片动态加载start**********/
.scrollLoading{
	background:url(../images/loading.gif) center no-repeat;
}
/********图片动态加载end************/


/*******回到顶部start********/
#to_top{
	width:50px;
	height:80px;
	background:url(../images/to_top.png) 0px 0px no-repeat;
	position:fixed;
	bottom:10px;
	right:0px;
	z-index:99999999;
	cursor:pointer;
	display:none;
}
/*******回到顶部end*********/

 
/*******头部start******/
#top{
	height:110px;
	width:100%;
	overflow:hidden;
}

#header{
	height:110px;
	position:fixed;
	background:url(../images/header_bg.jpg) 0 0 repeat-x;
	width:100%;
	overflow:hidden;
	padding:0px;
	margin:0px;
	z-index:9;
	top:0px;
	left:0px;
}

#nav{
	width:980px;
	height:130px;
	margin:0px auto;
	z-index:999999;
}

.logo{
	width:248px;
	height:103px;
	float:left;
	overflow:hidden;
	padding-top:0px;
	margin-left:10px;
	display:inline;
	cursor:pointer;
}

.nav_ul{
	padding-top:52px;
	padding-left:40px;
	height:40px;
	width:680px;
	overflow:hidden;
	float:left;
}

#nav_speed{
	display:none;
}

.nav_ul li{
	height:40px;
	width:100px;
	overflow:hidden;
	text-indent:-99999px;
	float:left;
	margin-right:10px;
	display:inline;
	cursor:pointer;
	position:relative;
}

.nav_ul li a{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	width:100px;
	height:80px;
}

#nav_01 a{
	background:url(../images/nav_bg.gif) 0px 0px no-repeat;
}

#nav_02 a{
    background:url(../images/nav_bg.gif) -100px 0px no-repeat;
}

#nav_03 a{
    background:url(../images/nav_bg.gif) -200px 0px no-repeat;
}

#nav_04 a{
    background:url(../images/nav_bg.gif) -300px 0px no-repeat;
}

#nav_05 a{
    background:url(../images/nav_bg.gif) -400px 0px no-repeat;
}

#nav_06 a{
    background:url(../images/nav_bg.gif) -500px 0px no-repeat;
}
/*******头部end******/	
	
	

/*******中部内容start*******/
#middle{
	width:980px;
	_padding-top:0px;
	margin:0px auto;
	_margin-top:0px;	
}

.middle2{
	width:100px;
	height:500px;
	border:1px solid red;
}

.middle3{
	height:900px;
	width:300px;
}


/*******中部内容end*******/


/********幻灯片start*********/
#scroll_picture{
	width:980px;
	height:410px;
	margin-top:30px;
}
.coin-slider { 
   overflow: hidden; 
   zoom: 1;
   position: relative;
   width:840px;
   float:left;
}
.coin-slider a{
   text-decoration: none;
   outline: none;
   border: none;
}
.cs-buttons {
   font-size: 0px; 
   padding: 10px; 
   float: left; 
}
.cs-buttons a {
	margin-right: 10px;
	height: 12px;
	width: 12px;
	float: left;
	text-indent: -1000px;
	background:url(../images/prev_next.jpg) 0px -40px no-repeat;
}
.cs-active {
	background:url(../images/prev_next.jpg) -26px -40px no-repeat !important;
	color: #FFFFFF; 
}
.cs-title {
	width: 820px; 
	padding: 10px;
	background-color: #000000; 
	color: #FFFFFF; 
	font-size:14px;
}
#cs-prev-coin_slider{
	background:url(../images/prev_next.jpg) 0 0 no-repeat;
	overflow:hidden;
	float:left;
	width:40px;
	height:40px;
	margin:150px 15px 0px 15px;
	display:inline;
	text-indent:-9999px;
	cursor:pointer;
}
#cs-next-coin_slider {
	background:url(../images/prev_next.jpg) -40px 0px no-repeat;
	overflow:hidden;
	float:right;
	width:40px;
	height:40px;
	margin:150px 15px 0px 15px;
	display:inline;
	text-indent:-9999px;
	cursor:pointer;
}
/***********幻灯片end***********/
	
	
	
/**********服务支持start***********/
.service{
	margin-top:40px;
}

.service_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px -160px no-repeat;

}

.service_content{
	width:930px;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	color:#373131;
	line-height:24px;
	letter-spacing:2px;
	font-weight:bold;
	padding:20px 25px;
}

.service_content span{
    color:#656565;
	font-weight:normal;
}

.service_img{
	width:980px;
	overflow:hidden;
	height:317px;
}
/**********服务支持end*************/
	



/**********建站方案start***********/
.web{
	margin-top:60px;
}

.web_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px 0px no-repeat;

}

.web_content{
	width:930px;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	color:#373131;
	line-height:24px;
	letter-spacing:2px;
	font-weight:bold;
	padding:20px 25px;
}

.web_img{
	width:980px;
	overflow:hidden;
}

.show_web{
	padding-left:20px;
	width:460px;
	float:left;
	padding-right:10px;
	padding-top:25px;
}

.show_img{
	width:192px;
	overflow:hidden;
	float:right;
}

.show_img img{
	border:1px solid #ccc;
}

.show_web b{
	display:block;
	width:190px;
	height:30px;
	overflow:hidden;
	color:#fcbd07;
	text-align:center;
	font-size:14px;
	letter-spacing:2px;
	line-height:30px;
}

.show_web b a{
	color:#373131;
}

.show_web b a:hover{
	color:#FCBD07;
	text-decoration:underline;
}

.show_text{
	width:245px;
	min-height:150px;
	_height:150px;
	float:left;
}

.show_title{
	height:30px;
	font-size:18px;
	letter-spacing:2px;
	font-weight:bold;
	color:#FCBD07;
}

.model_title{
	height:30px;
	font-size:16px;
	letter-spacing:2px;
	font-weight:bold;
	color:#444;
	text-align:center;
	margin-top:20px;
}

.model_more{
     height:30px;
	 line-height:30px;
	 color:#7c7c7c;
	 text-align:right;
	 padding-right:20px;
	 font-size:14px;
}

.model_more a{
     color:#7c7c7c;
}

.model_more a:hover{
     color:#FCBD07;
	 text-decoration:underline;
}

.show_content_text{
	font-size:14px;
	letter-spacing:1px;
	line-height:36px;
	color:#333;
}

.show_content_text a{
	color:#7c7c7c;
	
	cursor:pointer;
}

.show_content_text a:hover{
	color:#FCBD07;
	text-decoration:underline;
}

.show_img2{
	width:192px;
	overflow:hidden;
	float:right;
}

.show_text2{
	width:245px;
	min-height:150px;
	_height:150px;
	float:left;
}
/**********建站方案end*************/
	
	
	
	
/**********关于我们start***********/
.about{
	margin-top:60px;
}
.about_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px -40px no-repeat;

}

.about_img{
	width:980px;
	overflow:hidden;
	height:224px;
}

.about_content{
	width:930px;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	color:#656565;
	line-height:24px;
	letter-spacing:2px;
	font-weight:normal;
	padding:20px 25px;
}

.about_content b{
    color:#373131;
}

/**********关于我们end*************/	


/**********空间维护start***********/


.space{
	margin-top:60px;
}
.space_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px -200px no-repeat;

}

.space_content{
	width:980px;
	font-family:"微软雅黑","宋体";
	border-bottom:1px dashed #FDC006;
	padding-bottom:20px;
}

.space_content b{
    color:#373131;
}

.space_img{
	width:500px;
	height:305px;
	overflow:hidden;
	float:left;
}

.space_text{
	width:480px;
	overflow:hidden;
	float:right;
}

.space_text h3{
	padding:0xp;
	margin:0px;
	text-align:center;
	letter-spacing:2px;
	font-size:20px;
	color:#fdc006;
	height:35px;
	line-height:35px;
	overflow:hidden;
}

.space_text_content{
	font-family:"微软雅黑","宋体";
	color:#373131;
	font-size:14px;
	line-height:25px;
	letter-spacing:1px;
	padding:10px;
}

.space_ul{
	width:460px;
	padding:10px;
	overflow:hidden;
}

.space_ul li{
	width:435px;
	height:25px;
	line-height:23px;
	font-size:14px;
	background:url(../images/close_bg.png) 0px -105px no-repeat;
	padding-left:25px;
	overflow:hidden;
	letter-spacing:1px;
}

.space_ul li a{
	color:#656565;
	cursor:pointer;
}

.space_ul li a:hover{
	color:#FDC006;
	text-decoration: underline;
}




.maintain_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px -200px no-repeat;

}

.maintain_img{
	width:500px;
	overflow:hidden;
	float:right;
}

.maintain_text{
	width:480px;
	height:305px;
	overflow:hidden;
	float:left;
}

.maintain_text h3{
	padding:0xp;
	margin:0px;
	text-align:center;
	letter-spacing:2px;
	font-size:20px;
	color:#fdc006;
	height:35px;
	line-height:35px;
	overflow:hidden;
}

.maintain_text_content{
	font-family:"微软雅黑","宋体";
	color:#373131;
	font-size:14px;
	line-height:25px;
	letter-spacing:1px;
	padding:10px;
}

.maintain_ul{
	width:460px;
	padding:10px;
	overflow:hidden;
}

.maintain_ul li{
	width:435px;
	height:25px;
	line-height:23px;
	font-size:14px;
	background:url(../images/close_bg.png) 0px -105px no-repeat;
	padding-left:25px;
	overflow:hidden;
	letter-spacing:1px;
}

.maintain_ul li a{
	color:#656565;
	cursor:pointer;
}

.maintain_ul li a:hover{
	color:#FDC006;
	text-decoration: underline;
}

.maintain_content{
	width:980px;
	font-family:"微软雅黑","宋体";
	padding-top:20px;
}
/**********空间维护end*************/	




/*************模板效果图start************/
#marquee{
    width:940px;
	height:200px;
	overflow:hidden;
	margin-left:20px;
}

#marquee ul li{
    float:left;
	width:220px;
	height:200px;
    padding-right:20px;
}

#marquee ul li img{
    display:block;
}
/*************模板效果图end************/




/**********案例展示start**********/
.case{
	margin-top:60px;
}

.case_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px -80px no-repeat;

}

.case_content{
	width:930px;
	font-family:"微软雅黑","宋体";
	font-size:14px;
	color:#373131;
	line-height:24px;
	letter-spacing:2px;
	font-weight:bold;
	padding:20px 25px;
}

.case_scroll{
	width:960px;
	height:300px;
	margin-left:20px;
	overflow:hidden;
	position:relative;
}

#case_ul{
    width:9999px;
	height:220px;
	position:absolute;
	top:0px;
	left:0px;
}

#case_ul li{
	width:300px;
	height:210px;
	font-size:14px;
	color:#000;
	text-align:center;
	overflow:hidden;
	float:left;
	display:inline;
	margin-right:20px;
}

#case_ul li b{
	display:block;
	width:300px;
	height:40px;
	line-height:60px;
	overflow:hidden;
}



#case_ul a{
	color:#656565;
	cursor:pointer;
	font-size:15px;
	font-weight:normal;
}

#case_ul a:hover{
	color:#000;
	text-decoration:underline;
}

.imghover{
	width:300px;
	height:170px;
	position:absolute;
	top:0px;
	left:0px;
	background:url(../images/imghover.jpg) 0 0 no-repeat;
	cursor:pointer;
}

.case_a_img{
	width:300px;
	height:170px;
	overflow:hidden;
	position:relative;
	display:block;
}

#case_btn{
	height:35px;
	overflow:hidden;
	padding-right:20px;
	text-align:right;
	float:right;
	padding-top:230px;
}

#case_btn b{
	display:block;
	float:left;
	width:12px;
	height:12px;
	background:url(../images/prev_next.jpg) 0px -40px no-repeat;
	margin-right:20px;
	cursor:pointer;
	text-indent:9999px;
	overflow:hidden;
}

.cass_btn_b_hover{
	background:url(../images/prev_next.jpg) -26px -40px no-repeat !important;
}
/**********案例展示end************/
	


/**********联系我们start***********/
.contact{
	margin-top:50px;
	width:980px;
}

.contact_title{
	width:980px;
	height:40px;
	background:url(../images/title_bg.gif) 0px -120px no-repeat;

}

.contact_content{
	width:410px;
	float:left;
	padding-left:20px;
}

#dituContent{
	width:520px;
	height:355px;
	float:left;
	margin-left:20px;
	border:1px solid #ccc;
	margin-top:-30px;
}

.contact_address{
	margin-top:30px;
	line-height:24px;
	height:80px;
	overflow:hidden;
}

.contact_address b{
    font-size:20px;
	font-weight:normal;
	letter-spacing:1px;
}

.contact_address span{
    color:#656565;
	letter-spacing:1px;

}

.contact_list{
	width:370px;
	padding-left:40px;
	height:32px;
	background-image:url(../images/contact_bg.jpg);
	background-repeat:no-repeat;
	line-height:30px;
	margin-bottom:20px;
	overflow:hidden;
	font-size:24px;
	color:#373131;
}

.contact_url{
	background-position:0px 0px;
	margin-top:20px;
}

.contact_tel{
	background-position:0px -68px;
}

.contact_qq{
	background-position:0px -34px;
	padding-top:5px;
	height:27px;
	color:#7C7C7C;
	font-weight:normal;
	font-size:12px;
	line-height:-10px;
}

.qq_list_img{
    background:url(../images/contact_bg.jpg) 0px -34px no-repeat;
    width:40px;
	height:32px;
	float:left;
}
	
.qq_list_ul{
    width:300px;
	float:left;
}

.qq_list_ul li{
    width:140px;
	height:27px;
	margin-right:10px;
	display:inline;
	float:left;
	overflow:hidden;
	margin-bottom:5px;
}

.qq_name{
    color:#656565;
    line-height:24px;
    width:55px;
	height:27px;
	overflow:hidden;
	float:left;
}
/**********联系我们end*************/
	



/*********底部start*********/
#footer{
	width:100%;
	height:40px;
	background:#FDC006;
	margin-top:110px;
	margin-bottom:40px;
	position:relative;
}

.bottom{
	width:960px;
	height:40px;
	background:#FDC006;
	margin:0px auto;
	padding:0px;
    font-size:14px;
	color:#4e2506;
	line-height:36px;
	padding-left:20px;
	position:relative;
}

.bottom a{
   color:#4E2506;
}

.bottom a:hover{
   color:#333;
   text-decoration:underline;
}

.bottom_logo{
	position:absolute;
	top:-45px;
	right:20px;
	width:248px;
	height:103px;
}
/*********底部end**********/




/*********ajax-start**********/
#black_window{
	background:#000;
	z-index:999999;
	position:absolute;
	top:0px;
	left:0px;
}

#window_text{
	z-index:9999999;
	background:#fff;
	width:700px;
	display:none;
	position:absolute;
	top:0px;
	left:0px;
	overflow:hidden;
}

#close{
	float:right;
	width:120px;
	height:35px;
	overflow:hidden;
	cursor:pointer;
	background-image:url(../images/close_bg.png);
	background-repeat:no-repeat;
	background-position:0 0;
}

#close_title{
	float:left;
	width:580px;
	height:35px;
	background:#fdc006;
	background:url(../images/close_bg.png) 0px -70px no-repeat #FDC006;
}

#ajax_content{
	width:660px;
	height:515px;
	overflow-x:hidden;
	overflow-y:scroll;
	background:#fff;
	border:1px solid #FDC006;
	border-top:none;
	padding:20px;
}
/*********ajax-end***********/



/***********ajax文本里面的内容start**********/
.ajax_class{
	width:644px;
	font-family:"微软雅黑","宋体";
}

.ajax_class_title{
	width:644px;
	font-size:18px;
	color:#333;
	letter-spacing:2px;
	font-weight:bold;
	height:30px;
	border-bottom:1px solid #ccc;
    margin:0px;
    padding:0px;	
}

.ajax_class_content{
	padding-top:10px;
	font-size:14px;
	font-family:"微软雅黑","宋体";
	line-height:24px;
	letter-spacing:2px;
}

.ajax_class_time{
	width:634px;
	color:#a5a5a5;
	font-size:14px;
	text-align:right;
	padding-right:10px;
	height:30px;
	overflow:hidden;
}
	
/***********ajax文本里面的内容end************/


/***************文章列表start***************/
.text_list{
	width:980px;
	margin-top:50px;
}

.text_list_ul{
	width:250px;
	float:left;
	margin:0px 0px 0px 70px;
	display:inline;
	overflow:hidden;
}

.text_list_ul li{
	font-size:14px;
	height:25px;
	width:225px;
	color:#373131;
	padding-left:25px;
	background:url(../images/close_bg.png) 0px -105px no-repeat;
	display:none;
	overflow:hidden;
}

.text_list_ul a{
	color:#373131;
	cursor:pointer;
}

.text_list_ul a:hover{
	color:#FCBD07;
	text-decoration:underline;
}

.text_list_title{
	letter-spacing:3px;
	font-weight:bold;
	color:#FCBD07 !important;
	font-size:18px !important;
	background:none !important;
	height:35px !important;
}

.text_list_img{
	width:980px;
	overflow:hidden;
	margin-top:30px;
	height:183px;
}

.text_list_more{
	background:none !important;
	color:#FCBD07 !important;
	font-size:14px !important;
	cursor:pointer;
	width:85px !important;
	margin-left:20px;
	width:80px !important;
}

.text_list_more a{
	color:#FCBD07;
}

.text_list_less{
	background:none !important;
	color:#FCBD07 !important;
	font-size:14px !important;
	display:none;
	cursor:pointer;
	margin-left:20px;
	width:50px !important;
}

.text_list_less a{
	color:#FCBD07;
}
/***************文章列表end****************/


/****************速成站展示start********************/
.kunimage{
	border:1px solid #d5d5d5;
	width:240px;
	height:240px;
	float:left;
	margin-left:55px;
	text-align:center;
}
.kunimage a{
	color: #333;
	font-family:Century Gothic,"微软雅黑","幼圆",Arial,Verdana;
}
.kunimage a:hover{
	color: #FCBD07;
	text-decoration:underline;
}

/****************速成站展示start********************/
.kunimage{
	border:1px solid #d5d5d5;
	width:240px;
	height:240px;
	float:left;
	margin-left:55px;
	text-align:center;
}
.kunimage a{
	color: #333;
	font-family:Century Gothic,"微软雅黑","宋体",Arial,Verdana;
}
.kunimage a:hover{
	color: #FCBD07;
	text-decoration:underline;
}

/****************速成站展示end********************/

/***************百度统计start*****************/
.baidu_a{
	width:70px;
	height:22px;
	position:absolute;
	top:0px;
	left:550px;
}

.baidu_a a{
   color:#4E2506;
}

.baidu_a a:hover{
   color:#4E2506;
   text-decoration:underline;
}
/***************百度统计end******************/





/*******************微信部分-start*********************/
/* 转载请保留版权信息：懒人图库 www.lanrentuku.com */
*{ padding:0px; margin:0px;}
*html{background-image:url(about:blank);background-attachment:fixed;}/*解决IE6下滚动抖动的问题*/
/*解决IE6下不兼容 position:fixed 的问题*/
#code,#code_hover,#gotop{ width:36px; height:48px; background:url(../images/icon.png) no-repeat; position:fixed; right:50px; cursor:pointer;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0)));
}
#code{ background-position:-276px -258px; bottom:120px; _margin-bottom:120px;z-index:999;}
#code_hover{ background-position:-316px -258px; bottom:120px; _margin-bottom:120px;z-index:999;}
#gotop{ background-position:-276px -310px; bottom:67px; _margin-bottom:67px;z-index:999;} 

#code_img{ width:270px; height:355px; background:url(../images/icon.png) -4px -3px no-repeat; position:fixed; right:90px; bottom:67px; cursor:pointer; display:none;
_position:absolute;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||0)-(parseInt(this.currentStyle.marginBottom,10)||0))); _margin-bottom:67px;z-index:9999;}
/*******************微信部分-start*********************/












