body {font-size:9pt;} 
.zd { font-size:24px} 
.dz { font-size:18px}  
.zz { font-size:12px}  
.xz { font-size:9px}  
div{width:760px;cellspacing:1;border:dotted 1px steelblue;padding:1px;margin: 1px;TEXT-align:left;}
.sr{overflow:auto;width:98%;cellspacing:1;border:solid 1px green;}
#t{width:300;float:left;clear:top;border:0px;}
#s{width:400;float:right;TEXT-align:left;font-family:ו;line-height:16px;border:0px;}



