html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0;	margin: 0; border: 0; }
body { height: 100%; line-height: 1.6em; color: #333; font-size: 9pt; font-family: "Lucida Grande", Verdana, Arial, "Bitstream Vera Sans", sans-serif; background: #fff;}
.muen_box {
	width: 988px; margin:0px auto;
	overflow: hidden;
}

.sprite {
	background: url(muen_xian.gif) no-repeat right center;
}

a:link {color:#333; text-decoration:none;}
a:visited {color:#333; text-decoration:none;}
a:hover {color:#c50c0c; text-decoration:none;}
a:active {}

a.linkgray:link, .linkgray a:link {color:#666; text-decoration:none;}
a.linkgray:visited, .linkgray a:visited  {color:#666; text-decoration:none;}
a.linkgray:hover, .linkgray a:hover  {color:#333; text-decoration:none;}
a.linkgray:active, .linkgray a:active  {}
/* 
 ------------------------------
 wrap-nav 
 ------------------------------
 */
 
#wrap-nav {height: 35px; background: #c60c0d;}
#wrap-nav .muen_box {overflow: visible; z-index: 99;}

#wrap-nav .menu {}
#wrap-nav .menu li {
	position: relative;
	float: left;
	padding: 0 8px 0 5px;
	display: inline;
	font-size: 14px;
}
#wrap-nav .menu li h3 {font-weight: normal; display: inline-block; float: left;}
#wrap-nav .menu li a.depth1 {margin-top: 5px; display: inline-block; color: #fff;}
#wrap-nav .menu li a.selected,
#wrap-nav .menu li a.navhover,
#wrap-nav .menu li a.depth1:hover {color: #911531; background: url(nav_hover2.gif) no-repeat left top;}
#wrap-nav .menu li a.navhover, #wrap-nav .menu li a.depth1:hover {background-color: #fff;}
#wrap-nav .menu li a.depth1 span {height: 30px; line-height: 25px; margin: 0 0 0 6px; padding: 0 4px 0 0; display: inline-block;}
#wrap-nav .menu li a.selected span,
#wrap-nav .menu li a.navhover span,
#wrap-nav .menu li a.depth1:hover span {cursor: pointer; background: url(nav_hover2.gif) no-repeat right top;}
#wrap-nav .menu li a.navhover span, #wrap-nav .menu li a.depth1:hover span {background-color: #fff}

#wrap-nav .menu li.overlay {
	position: relative;	left: -4px; 
	width: 8px; height: 28px;
	padding: 0;	margin: 0; background: #c60c0d;
}

#wrap-nav .menu ul.children {
	display: none;
	position: absolute;
	top: 35px;
	left: 3px;
	width: 225px;
	padding: 5px 0 0 0;
	background: #FFF;
	border: 2px solid #9B0000;
	border-top: 0;
	line-height: normal;
}
#wrap-nav .menu ul.sleft {
	left: auto;
	right: 6px; _right: 5px;
}
#wrap-nav .menu ul.children li.noborder {border: none;}
#wrap-nav .menu ul.children li {
	float: left;
	width: 110px;
	padding: 1px;
	display: inline-block;
	background-image: none;
	border-right: 1px solid #FFCFCF;
	font-size: 12px;
}
#wrap-nav .menu ul.children li h3 {display: block; width: 100%;}
#wrap-nav .menu ul.children li a {
	width: 100%;
	height: 16px;
	line-height: 17px;
	overflow: hidden;
	padding: 3px 0;
	display: block;
	color: #911531;
	text-indent: 20px;
	background-position: 8px -658px;
}
#wrap-nav .menu ul.children li a:hover {background-color: #FFE1E1;}
#wrap-nav .menu ul.children li.count {clear: both;}
#wrap-nav .menu ul.children li.count div {width: 223px; margin: 5px 0 0; padding: 3px 0; background-color: #FFE1E1; color: #911531; text-indent: 8px;}
